* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.intro-banner-container {
  position: relative;

}

.intro-banner {
  background-image: url("https://images.unsplash.com/photo-1483450388369-9ed95738483c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  filter: brightness(20%);
}

.intro-title{
  color: white;
  position: absolute;
  top: 100px;
  left: 50px;
  font-size: 2rem;
}

/* Form styling start */
.form-container {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.21);
  padding: 1rem;
  transform: translateY(-50%);
  background: white;
  width: 50%;
  margin: 0 auto;
  margin-bottom: -50px;
}

.form-container form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.form-item {
  margin-right: 1rem;
  max-width: 200px;
  margin-top: 0.5rem;
}
.form-item label {
  display: block;
  font-size: 0.8rem;
}

.form-item input {
  width: 100%;
  border-radius: 5px;
  padding: 5px 5px;
  border: 1px solid rgb(148, 148, 148);
}

.form-button {
  width: 100%;
  margin-top: 1.5rem;
  padding: 5px 25px;
  border-radius: 5px;
  background: #2a5ab4;
  border: none;
  color: white;
}

.form-button:hover {
  background: #1d4185;
  cursor: pointer;
}
/* Form styling end */

/* fav container start */
.fav-container {
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.21);
  padding: 1rem;
  padding-top: .5rem;
  background: white;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 3rem;
}

.fav-container-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.fav-container-header span {
  cursor: pointer;
  font-weight: 700;
  margin-top: .5rem;
}
.fav-container-header button {
  padding: 10px 25px;
  border-radius: 5px;
  margin-top: .5rem;

  background: #a31a1a;
  border: none;
  color: white;
}
.fav-container-header button:hover {
  background: #861414;
  cursor: pointer;
}

.fav-container-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 1rem 0;
}

.fav-element-container {
  max-width: 200px;
  margin: 2rem auto;
  border: 2px solid #2a5ab4;
  border-radius: 15px;
  padding: 1rem;
}
.show-favs {
  display: block;
}

.hide-favs {
  display: none;
}

/* fav container end  */

/* results styling start*/
.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.21);
  border: 2px solid #1d4185;
  max-width: 92%;
  padding: 2rem 0;
  margin: auto;
  margin-bottom: 100px;
}

.results-filter {
  max-width: 200px;
  margin: auto;
  padding: 1em;
  padding-top: .6em;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #1d4185;
  border-radius: 5px;
}

.results-filter select {
  border: none;
  border-radius: 5px;
  font-size: .7rem;
  margin-top: .6em;
  padding: .5em ;
}

.result-item-container {
  min-width: 200px;
  border: 2px solid #2a5ab4;
  border-radius: 15px;
  overflow-x: scroll;
  margin: 1rem;
  padding: 1.6rem 1rem;
}

.result-item-container h1,
.fav-element-container h1 {
  color: #2a5ab4;
  font-size: 1.5rem;
}

.result-item-container h4,
.fav-element-container h4 {
  padding-bottom: 0.5em;
  font-size: 0.8rem;
  font-weight: 400;
}

.result-item-container h4 > span,
.fav-element-container h4 > span {
  font-weight: 700;
}

.result-item-container-primary {
  color: #a31a1a;
}
.result-item-container-secondary {
  color: #027754;
}

.result-item-container-btn {
  width: 100%;
  margin-top: 1.5rem;
  padding: 5px 25px;
  border-radius: 5px;
  background: #2a5ab4;
  border: none;
  color: white;
}

.result-item-container-btn:hover {
  background: #1d4185;
  cursor: pointer;
}
/* results styling end*/

/* footer styling start */
footer {
  background: #08142b;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 3rem;
  margin-top: auto;
}

footer div {
  margin-bottom: 1rem;
}

footer div h1 {
  font-size: 1rem;
}

footer div ul {
  font-size: 0.7rem;
  margin-top: 1em;
  list-style-type: none;
}

footer div ul li {
  padding-top: 0.5em;
}
footer div ul li:hover {
  cursor: pointer;
  opacity: 0.7;
}
/* footer styling end */

/* Media Queries */
@media (min-width: 500px) {
  .form-container form {
    justify-content: space-around;
  }
  .form-container {
    width: 60%;
  }
}

@media (min-width: 600px) {
  .form-container {
    width: 90%;
    margin-bottom: -10px;
  }
  .fav-container {
    width: 90%;
  }
  .form-item label {
    font-size: 0.9rem;
  }
  .form-button {
    font-size: 0.9rem;
    padding: 10px 25px;
  }

  .results-filter {
    max-width: 300px;
  }
  
  .results-filter select {
    font-size: .8rem;
    padding: .5em 1em;
  }


  .results-container {
    transform: translateY(0px);
  }

  .result-item-container h1,
  .fav-element-container h1 {
    font-size: 2rem;
  }

  .result-item-container h4,
  .fav-element-container h4 {
    font-size: 1rem;
  }

  footer {
    padding: 2rem 6rem;
    justify-content: space-around;
  }
  footer div h1 {
    font-size: 1.2rem;
  }

  footer div ul {
    font-size: 0.9rem;
  }
}

@media (min-width: 750px) {
  .intro-title{
    left: 50px;
    font-size: 4rem;
  }
}
@media (min-width: 1100px) {
  .form-button {
    max-width: 200px;
  }
  .intro-title{
   top: 140px;
  }
}
